/* En este archivo definimos los stilos del apartado Perfil */
h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}

form{
    padding: 60px 25px;
    border-radius: 20px;
    border-color: var(--color-secundario);
    border-width: thin;
    border-style: solid;
    background-color: var(--color-fondo-secundario);
}